gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Keystore signing files (included in repo for CI auto-signing)
# key.properties
# **/*.keystore
# **/*.jks
